{% import '_includes/forms.twig' as forms %}

{{ forms.textField({
    first: true,
    instructions: 'Input - <a href="https://www.mathmlcentral.com/format.html" target="_blank">How to Format Your Input</a>',
    name: field.handle,
    value: value
}) }}

<hr>

<pre>
    {{ dump(field) }}
</pre>
<pre>
    {{ dump(value) }}
</pre>