{% import '_includes/forms.twig' as forms %}

{{ forms.textField({
    first: true,
    instructions: 'Input - <a href="https://www.mathmlcentral.com/format.html" target="_blank">How to Format Your Input</a>',
    
    name: field.handle,
    value: input,
    
}) }}

<div class="field">
    <div class="instructions">
        <p >Output  - Updates after save</p>
    </div>
    <div style="width: 100%; border-radius: 3px; padding: 10px; overflow: auto; background: #345e34; color: white;">
        {{output|raw}}
    </div>
</div>

<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>